body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 340px;
    padding: 20px;
    background: white;
    border-radius: 5px;
}

header {
    background: #cc101f;
    color: white;
    text-align: center;
    padding: 5px;
}

header img {
    width: 100px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 5px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background: #000000;
    padding: 5px 10px;
    border-radius: 3px;
    display: inline-block;
    traansition: 0.3s ease-in-out;
}

.title {
    text-align: center;
    background: #ffcc00;
    padding: 15px;
}

.in-page-links {
    text-align: center;
    margin: 20px 0;
    background: #ffcc00;
    border-radius: 5px;
    padding: 10px;
}

.in-page-links a {
    display: inline-block;
    text-decoration: none;
    color: white; 
    font-weight: bold;
    background: #cc101f;; 
    padding: 10px 15px;
    border-radius: 20px; 
    margin: 5px;
    transition: 0.3s ease-in-out; 
}

.content-box {
    background: #ffcc00;
    margin: 20px auto;
    padding: 15px;
    border-radius: 5px;
    width: 90%;
    max-width: 600px;
}

.content-box img {
    width: 100%;
    border-radius: 5px;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
}
.pft-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

.pft-table th, .pft-table td {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: white;
}

.pft-table tr.run-row {
    background-color: #e6e6e6; 
}
.pft-table th {
    background-color: #cc101f;
    color: white;
    text-align: center;
}

.phase1-bg {
    background-color: #cc101f !important; 
    color: white; 
    border: 5px solid #000000;
}

.phase2-bg {
    background-color: #faf71d !important; 
    color: white;
    border: 5px solid #000000;
}

.phase3-bg {
    background-color: #0e78f7 !important; 
    color: white;
    border: 5px solid #000000;
}

.phase4-bg {
    background-color: #03a51e !important; 
    color: white;
    border: 5px solid #000000;
}
